{% extends "page.html" %}

{% block subtitle %}{{ _('All Users') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Users'), 'user.index') }}</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    {% block page_header %}
    <header class="module-content page-header">
      <ul class="nav nav-tabs">
        {% block content_primary_nav %}
          {% set has_access = h.check_access('check_access_account_requests') %}
          {{ h.build_nav_icon('user.index', _('List users')) }}
          {% if has_access %}
            {{ h.build_nav_icon('account_requests', _('Account requests')) }}
          {% endif %}
        {% endblock %}
      </ul>
    </header>
    {% endblock %}
    <div class="module-content">
      <h1 class="page-heading">
        {% block page_heading %}{{ _('Users') }}{% endblock %}
      </h1>
      {% block users_list %}
        <ul class="user-list">
          {% block users_list_inner %}
            {% for user in page.items %}
              <li>{{ h.linked_user(user['name'], maxlength=20) }}</li>
            {% endfor %}
          {% endblock %}
        </ul>
      {% endblock %}
    </div>
    {% block page_pagination %}
      {{ page.pager(q=q, order_by=order_by) }}
    {% endblock %}
  </article>
{% endblock %}

{% block secondary_content %}
  {% snippet 'user/snippets/user_search.html' %}
{% endblock %}
